
.container{
    width: 550px;
    height: 478px;
    overflow: hidden;
    position: absolute;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    -o-transform: scale(.6);
    transform: scale(.6);
   /*  left:-160px;*/
    margin-left: -130px;
    top: -12px;
}
.hammer{
    background: url(../images/hammer.png) top center no-repeat;
    width: 115px;
    height: 119px;
    position:absolute;
    top:90px;
    left:367px;
    z-index: 13;
    outline:none;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
}
.hammer.active{
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
#line{
    width: 97px;
    height: 87px;
    background: url(../images/r2.png) no-repeat;
    position:absolute;
    top:-30px;
    right:-20px;
    visibility: hidden;
}
#line.active{
    visibility: visible;
}
.nest{
    position:absolute;
}
.nest.back{
    background: url(../images/nestBack.png) top center no-repeat;
    width: 378px;
    height: 146px;
    top:213px;
    left:115px;
    z-index: 9;
}
.nest.fore{
    background: url(../images/nestFore.png) bottom center no-repeat;
    width: 378px;
    height: 200px;
    top: 294px;
    left:115px;
    z-index: 11;
}
#breakEgg{
    position: absolute;
    z-index: 10;
}

@keyframes shake{
    50%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
#egg{
    width: 175px;
    height: 200px;
    position: absolute;
    top:155px;
    left:218px;
    z-index: 14;
}